<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试访问日志系统</title>
</head>

<body>
    <h1>测试访问日志系统</h1>
</body>
<script>
    var _maq = _maq || [];
    _maq.push(['_setAccount', 'rong']);
    (function () {
        var ma = document.createElement('script'); ma.type = 'text/javascript'; ma.async = true;
        ma.src = window.location.href + 'webanalysis.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ma, s);
    })();
</script>

</html>